local-dns: 127.0.0.1:6969 
upstream-dns: 9.9.9.9:53
blacklist: google.com-refuse ya.ru-not_found yandex.ru-10.10.10.10 habr.com-refuse youtube.com-not_found wikipedia.org-1.1.1.1 facebook.com-1.1.1.1 instagram.com-refuse reddit.com-refuse bing.com-refuse whatsapp.com-refuse chatgpt.com-refuse openai.com-not_found